# Ignore Security Keys
*.pem

# Ignore Node and Build folders
node_modules/
dist/

# Ignore local Python builds and caches
presence.exe
presence
presence.app
presence.spec
__pycache__/
build/presence/

# Ignore local databases, logs, and tokens generated during testing
kick_db.json
Custom_Meta.json
vault.json
Widget_Token.txt
debug.log